
body {
  font-family: "Montserrat";
  text-align: center;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 900;
}

p {
  color: #222831;
}

/* Heading */

.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #c70039;
  color: #eeeeee;
}

.white-section {
  background-color: #eeeeee;
}

/* Navigation Bar */

.navbar {
  padding-right: 10px;
  padding-left: 10px;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 3.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.8rem;
}

.img-thumbnail {
  max-width: 15%;
  height: auto;
  display: inline-block;
  /* overflow: auto; */
}

/* Service Section */
.service-text {
  font-family: "Montserrat";
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.service-image {
max-width: 80%;
height: auto;
border-radius: 100%;
}

/* Footer Section */

.social-icon {
  margin: 1px 20px;
}

.footer {
  /* margin: 0; */
  position:absolute;
  bottom:0;
}

@media (max-width: 1028px) {

#title {
  text-align: center;
  }
}
